{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Wizard</title>
{{end}}

{{define "body"}}
<div class="card card-lightblue">
  <div class="card-header with-border">
    <h3 class="card-title">Step 2: Some new params</h3>
  </div>

  <form id="form-to-confirm" role="form" action="{{urlfor "WizardController.Step3Post"}}" method="post">

    <div class="card-footer">
      <a href="{{urlfor "WizardController.Step2Get"}}" 
      class="btn btn-sm bg-gradient-lightblue btn80" data-title="BACK" 
            title="BACK" style="margin-right: 23px;">STEP 3</a>
      <button type="submit" class="btn btn-sm bg-gradient-lightblue btn80" 
        style="margin-right: 23px; float: right;" data-title="To Step 3" id="to_step_4">STEP 4</button>
    </div>
  </form>

</div>
{{end}}