{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Wizard</title>
{{end}}

{{define "body"}}
<div class="card card-red">
  <div class="card-header with-border">
    <h3 class="card-title">Wizard cannot be run: OpenVPN has been already configured !</h3>
  </div>

  <div class="card-body">
    <span class="help-block">This means that /etc/openvpn has files and cannot be provisioned again.</span><br>
    <span class="help-block">If you want to set up it again, you need to delete all inside /etc/openvpn (including hidden files)</span><br>
    <span class="help-block">All clients will be lost! All settings will be lost! You will start from scratch.</span><br>
    <span class="help-block">Do backup before all will be resetting.</span><br>
    <span class="help-block">To start wizard, recreate the docker container and clear all connected volumes.</span><br><br>
    <span class="help-block">Good luck !</span>
  </div>

  
  <div class="card-footer">
    <a href="{{urlfor "SystemController.Backup"}}" class="btn bg-gradient-lightblue btn100" 
    data-title="Download Binary File?" title="Download Binary File">Download</a> &nbsp; &nbsp; Backup will take up to the 10 seconds.
  </div>
</div>
{{end}}
