{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Client Settings</title>
{{end}}

{{define "body"}}

{{template "common/alert.html" .}}

<div class="card card-primary">
  <!-- <div class="card-header with-border">
    <h3 class="card-title">Server Configuration</h3>
  </div> ->>
  <!-- /.card-header -->
  <!-- form start -->
  <form id="form-to-confirm" role="form" action="{{urlfor "OVConfigController.Post"}}" method="post">
    <div class="card-body">

      <div class="form-group" >
        <label for="name">client-template.txt</label>
        <textarea type="text" class="form-control my-textarea" name="ClientTemplate" 
          id="ClientTemplate" spellcheck="false" rows="15">{{ .ClientTemplate }}</textarea>
        <span id="helpBlock" class="help-block font90">This is a user config template file. It was generated according to server setting. 
          The beckup file of previous version will be saved before new aon be applied.
        </span>
      </div>

       {{ .xsrfdata }}
      </div>
     <div class="card-footer">
       <button type="submit" class="btn bg-gradient-lightblue btn80"
       data-title="Update tamplte for clients?">Save</button>
     </div>
        <!-- /.card-body -->
   </form>

</div>
<!-- /.card -->

{{end}}

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>

<script>
  editTheme = ""
  if (localStorage.getItem('theme') != null ) {
    editTheme = "_midnight"
  };
  createEditor("ClientTemplate", "600px", "clouds" + editTheme, "space", false)
</script>



