{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Certificates</title>
{{end}}

{{define "body"}}


<!-- /.box-header -->
{{template "common/alert.html" .}}

<div class="box box-warning">
  <div class="box-header with-border">
    <table>
      <tr>
        <td class="col-md-1 text-right">
          <i>If you finish working on clients details, do not forget to apply these changes for ALL clients and restart server. &nbsp;&nbsp;</i>
          <a href="{{urlfor "ClientsController.UpdateFiles"}}" class="btn btn-warning btn-sm bg-yellow-gradient btn150"
          data-title="Update ALL Clients?" title="Apply Clients Configuration" style="margin-right: 23px;">Apply Configurations</a>
          <a href="{{urlfor "ClientsController.Restart"}}" class="btn btn-danger btn-sm bg-red-gradient btn150" data-title="Restart OpenVPN container?" 
                title="Restart OpenVPN container" style="margin-right: 23px;">Restart OpenVPN Server</a>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Clients details</h3>
      </div>

      <div class="box-body">
        <!--if .ovstatus -->
        <div class="table-responsive">
         <table class="table no-margin">
            <thead>
            <tr>
              <th style="width:5%">Client Name</th>
              <th style="width:2%">DefR</th>
              <th style="width:5%">Static IP</th>
              <th style="width:5%">IsRouter</th>
              <!-- <th>Revocation</th> -->
              <!-- <th style="width:15%">Router Subnet</th> -->
              <!-- <th>Details</th> -->
              <th class="textcenter" style="width:30%">Description</th>
              <th class="textcenter" style="width:50%">Route List</th>
              <th class="textcenter" style="width:3%">File</th>
              <th></th>
            </tr>
            </thead>
            <tbody>

            {{range .clients}}
              <tr>

                  <!-- 1 sell -->
                  <td class="my-centered">
                       <button id="openModalEditClientRaw" data-target="#editClientModalRaw" data-client-name="{{ .ClientName }}" 
                        class="btn btn-primary btn-sm btn-block light-blue-gradient right-icon-holder" 
                        title="{{ .ClientName }}">{{ .ClientName }}<i class="fa fa-edit"></i>
                      </button>
                  </td>

                  <!-- 2 sell -->
                  <td class="my-centered first-cap">
                    {{ if .IsRouteDefault }}
                      <span class="btn btn-xs bg-green btn40">{{ .IsRouteDefault }}</span>
                    {{else}}
                      <span class="btn btn-xs bg-gray btn40">{{ .IsRouteDefault }}</span>
                    {{end}}
                  </td>

                  <!-- 3 sell -->
                  <td class="my-centered">
                    {{ if ne .StaticIP "" }}
                      <span class="btn btn-xs bg-green btn80">{{ .StaticIP }}</span>
                    {{else}}
                      <span class="btn btn-xs bg-gray btn80">random</span>
                    {{end}}
                  </td>


                  <!-- 5 sell -->
                  <td class="my-centered">
                    {{ if .IsRouter }}
                      <span class="btn btn-xs bg-purple btn80">{{ .RouterSubnet }}</span>
                      <!-- <span class="btn btn-xs bg-purple btn80">{{ .RouterMask }}</span> -->
                    {{else}}
                      <span class="btn btn-xs bg-gray btn80">-</span>
                    {{end}}
                  </td>

                  <!-- 6 sell -->
                  <td class="my-centered first-cap txt-smaller">
                    {{ .Description }}
                  </td>


                  <!-- 7 sell -->
                  <td class="my-centered">
                    {{range  $val := .RouteList}}
                      <span class="btn btn-xs bg-green bnt24">{{ $val }}</span>
                    {{end}}
                    {{range  $val := .RouteListUnselected}}
                      <span class="btn btn-xs bg-gray bnt24">{{ $val }}</span>
                    {{end}}
                  </td>

                  <!-- 8 sell -->
                  <td class="textcenter my-centered">
                    <div class="btn-group" role="group">
                        <button  id="openModalEditClientDetails" data-target="#editClientDetailsModal" data-client-name="{{ .ClientName }}"
                        class="btn btn-primary btn-sm bg-light-blue-gradient btn80" title="Edit">Edit</button>
                        <!-- <button id="openModalEditClientRaw" data-target="#editClientModalRaw" data-client-name="{{ .ClientName }}" 
                        class="btn btn-sm bg-light-blue-gradient btn40" title="Edit">Raw</button> -->
                    </div>
                  </td>
                </tr>

            {{end}}
            </tbody>
          </table>
        </div>
       </div>
        <!-- /.table-responsive -->
      </div>
      <!--else
          Fix your configuration
      end-->

     <!--
      <div class="box-footer clearfix">
        
      </div>
      -->

      <!--
      <div class="box-footer clearfix">
        <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
      </div>
    -->
      <!-- /.box-footer -->
    </div>
    <!-- /.box -->
  </div>

</div>

<script type="text/javascript">
  var actionURL="/clients/save_client_data" 
</script>

<!-- Add an empty modal container -->
<div id="modal-edit-client-details"></div>
<div id="modal-edit-client-raw"></div>

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>
{{end}}