{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Clients</title>
{{end}}

{{define "body"}}

<!-- /.card-header -->
{{template "common/alert.html" .}}

<!-- NEW CLIENT -->
<div class="col-xs-12">
  <div class="card card-outline card-blue">
    <!-- card-header -->
    <div class="card-header with-border table-responsive">
      <table>
        <tr>
          <td class="col-md-1 text-left">
            <button class="btn btn-sm bg-gradient-navy btn150" data-toggle="collapse" href="#newClient" role="button"  aria-expanded="false"
                  aria-controls="newClient" style="margin-left: 0.5%;">Add New Client</button>
                  {{template "common/fvalid.html" field_error_message .validation "Name" }}
          </td>
          <td class="col-md-10 text-right font90 sb"><i>You shuld start from creating a new client and then certificate</i></td>
          <td class="col-md-1 text-right">
            <a href="{{urlfor "ClientsController.UpdateFiles"}}" class="btn btn-warning btn-sm btn-group-sm bg-gradient-yellow btn150"
            data-title="Update ALL Clients?" title="Apply Clients Configuration" style="margin-right: 23px;">Apply Configurations</a>
          </td>
          <td class="col-md-1 text-right">
            <a href="{{urlfor "LogsController.RestartLocalService"}}" class="btn btn-danger btn-sm btn-group-sm bg-gradient-red btn150"
              data-title="Restart OpenVPN server?" title="Restart OpenVPN server" id="start" style="margin-right: 23px;">Restart Server</a>
          </td>
        </tr>
      </table>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <div id="newClient" class="collapse">
      <form id="form-create-client" role="form" action="{{urlfor "ClientsController.NewClient"}}" method="post">
        <div class="card-body">
    
            <div class="form-row">
    
              <div class="form-group col-md-3">
                <label for="client_name">Client Name*</label>
                <input type="text" class="form-control" placeholder="Set user name" id="client_name"
                  name="client_name" data-mask-text required onfocusout="this.value = this.value.trim()">
                <span class="help-block font75">The unique User Name</span>
              </div>
              
               <div class="form-group col-md-3">
                  <label for="static_ip">Static IP</label>
                  <input class="form-control" name="static_ip" id="static_ip"
                                  data-inputmask="'alias': 'ip'" data-mask 
                                  pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" 
                                      placeholder="Enter Static IP" onfocusout="this.value = this.value.trim()">
                  <span class="help-block font75">Inernal VPN network Static IP</span>
                </div>

                <div class="form-group col-md-6">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" placeholder="Add description" id="description"
                           name="description" onfocusout="this.value = this.value.trim()">
                    <span class="help-block font75">Describe the client details</span>
                </div>

                <div class="form-group col-md-3">
                    <label for="new_static_pass">User Password</label>
                    <div class="input-group" id="show_hide_user_password">
                      <input type="password" class="form-control" placeholder="Password" id="new_static_pass"
                        name="new_static_pass" data-mask-text onfocusout="this.value = this.value.trim()">
                      <span class="input-group-btn">
                        <button class="btn btn-default reveal" type="button">
                          <i class="fa fa-eye-slash"></i></button>
                      </span>
                    </div>
                    <span class="help-block font75">Static user password for auth</span>
                </div>

                <div class="form-group col-md-3">
                    <label for="cert_pass">Certificate Passphrase</label>
                    <div class="input-group" id="show_hide_password">
                        <input type="password" class="form-control" placeholder="Passphrase" id="cert_pass"
                               name="cert_pass" data-mask-text onfocusout="this.value = this.value.trim()">
                        <span class="input-group-btn">
                        <button class="btn btn-default reveal" type="button">
                          <i class="fa fa-eye-slash"></i></button>
                      </span>
                    </div>
                    <span class="help-block font75">Passphrase for the certificate</span>
                </div>


                <div class="col-md-4">
                    <div class="form-check" style="margin-top: 25px;">
                        <input name="use_def_routing" id="use_def_routing" class="form-check-input" type="checkbox" value="true"
                               {{if .OvpnWizardData.DisableDefRouteForClientsByDefault}} checked {{else}} {{end}}>
                        <label class="form-check-label" for="use_def_routing">
                            Client uses VPN as Default Route
                        </label>
                    </div>

                    <div class="form-check">
                        <input name="client_is_router" id="client_is_router" class="form-check-input" type="checkbox" value="true"
                               {{if .OvpnWizardData.ClientToClientConfigIsUsed}} checked {{else}} {{end}}>
                        <label class="form-check-label" for="client_is_router">
                            Client is Router with internal subnets
                        </label>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.card-body -->
    
        <div class="card-footer">
          <button type="submit" class="btn btn-sm bg-gradient-lightblue btn80" 
            style="margin-right: 23px; float: right;" data-title="Create new client?" id="create_client">Create</button>
        </div>
      </form>
    </div>
    <!-- form end -->
  </div>
</div>
<!-- END NEW CLIENT -->

<!-- <div class="row"> -->
  <div class="col-xs-12">
    <div class="card card-lightblue">
      <div class="card-header with-border">
        <h3 class="card-title">Clients details</h3>
      </div>

      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table-sm table-bordered table-striped m-0">
            <thead>
            <tr class="font90 textcenter">
              <th class="first-sm" style="width:10%">Client Name</th>
              <th style="width:5%">Cert</th>
              <th style="width:5%">Route</th>
              <th style="width:5%">Static IP</th>
              <th style="width:5%">Type</th>
              <th style="width:40%">Description</th>
              <th style="width:5%">Auth</th>
              <th style="width:5%">Routes</th>
              <th class="last-sm" style="width:5%">File</th>
            </tr>
            </thead>
            <tbody>

            {{$MD5 := .MD5}} 
            {{range $c := .Clients}}
                <!-- <tr data-widget="expandable-table" aria-expanded="false"> -->
                <tr> 
                  <!-- 1 sell -->
                  <td class="my-centered first-sm">
                      {{ $col := "btn-sm btn-group-sm btn-block bg-gradient-lightblue" }}
                      {{ $comment := .ClientName }}
                      {{ $icon := "fa fa-edit fa-lg" }}
                      {{ if not (GetBoolValueByKey $c.ClientName $MD5) }}
                          {{ $col = "btn-danger btn-sm btn-group-sm btn-block bg-gradient-red" }}
                          {{ $comment = "Config was changed but not applied !" }}
                          {{ $icon = "fa fa-warning fa-lg" }}
                      {{ end }}
                      {{if not $c.CertificateName}} 
                        {{ $col = "btn-default btn-sm btn-group-sm btn-block disabled" }}
                      {{end}}
                       <button id="openModalEditClientRaw" data-target="#editClientModalRaw" data-client-name="{{ .ClientName }}" 
                        class="btn {{ $col }} right-icon-holder font75" 
                        title="{{ $comment }}">{{ .ClientName }}<i class="{{ $icon }}"></i>
                      </button>
                  </td>

                  <td class="my-centered first-cap">
                    {{ if .CertificateStatus }}
                      {{if eq (printf .CertificateStatus) "Active"}}
                        <span class="badge bg-olive btn60">Active</span>
                      {{end}}
                      {{if eq (printf .CertificateStatus) "Revoked"}}
                        <span class="badge bg-yellow btn60">Revoked</span>
                      {{end}}
                    {{else}}
                        <span class="badge bg-red btn60">No Cert</span>
                    {{end}}
                  </td>

                  <!-- 2 sell -->
                  <td class="my-centered first-cap">
                    {{ if .IsRouteDefault }}
                      <span class="badge bg-gray btn60">Default</span>
                    {{else}}
                      <span class="badge bg-gray-light btn60">Custom</span>
                    {{end}}
                  </td>

                  <!-- 3 sell -->
                  <td class="my-centered">
                      {{  if .StaticIP }}
                        {{  if eq (printf .StaticIP) "" }}
                          <span class="badge bg-gray-light btn100">random</span>
                        {{else}}
                          <span class="badge bg-gray-light btn100">{{.StaticIP}}</span>
                        {{end}}
                      {{else}}
                        <span class="badge bg-gray-light btn100">random</span>
                      {{end}}
                  </td>


                  <!-- 5 sell -->
                  <td class="my-centered">
                    {{ if .IsRouter }}
                      <span class="badge bg-gray btn60">Router</span>
                      <!-- <span class="btn btn-xs bg-purple btn80">.RouterMask</span> -->
                    {{else}}
                      <span class="badge bg-gray-light btn60">Client</span>
                    {{end}}
                  </td>

                  <!-- 6 sell -->
                  <td class="first-cap font75">
                    <div class=" sb">{{ .Description }}</div>
                  </td>

                <!-- Auth sell -->
                <td class="textcenter my-centered">
                    <div  class="btn-group" role="group">
                        <button id="openModalEditClientAuth" data-client-name="{{ .Id }}" data-target="#editClientAuthModal"
                            {{ if .OTPIsEnabled  }}
                                class="btn btn-sm btn-group-sm bg-gradient-olive btn60 font75">
                            {{ else if .StaticPassIsUsed }}
                                class="btn btn-sm btn-group-sm bg-gradient-lightblue btn60 font75">
                            {{ else }}
                                class="btn btn-sm btn-group-sm bg-gradient-red btn60 font75">
                            {{ end }}
                            <i class="fa-solid fa-unlock fa-lg"></i>
                        </button>
                    </div>
                </td>

                  <!-- 7 sell -->
                  <td class="textcenter my-centered">
                      <div  class="btn-group" role="group">
                          <button type="button" class="btn btn-sm btn-group-sm bg-gradient-lightblue btn60 font75"
                            data-toggle="modal" data-target="#popup-{{ .Id }}"><i class="fa-solid fa-shuffle fa-lg"></i>
                          </button>
                        </div>
                  </td>

                  <!-- 8 sell -->
                  <td class="textcenter my-centered">
                    <div class="btn-group" role="group">
                        <button  id="openModalEditClientDetails" data-target="#editClientDetailsModal" data-client-name="{{ .Id }}"
                        class="btn btn-sm btn-group-sm bg-gradient-lightblue btn60 font75" title="Edit">Edit</button>
                    </div>
                  </td>
                  
                </tr>

            <div id="popup-{{ .Id }}" class="modal fade" role="dialog">
                <div class="modal-dialog" style="max-width: 450px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Routing details for "{{ .ClientName }}"</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-form-type="" data-dashlane-label="true">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body font90">

                                        {{$connectedRoutes := GetConnectedRoutes $c.Id}}
                                        {{$disConnectedRoutes := GetDisConnectedRoutes $c.Id}}


                                        <div class="float-container">
                                            <div><b>Selected:</b></div>
                                            <div class="float-child bg-lightblue" style="text-align: center">
                                                <div class="popup-table-header">To IP:</div>
                                            </div>
                                            <div class="float-child bg-lightblue" style="text-align: center">
                                                <div class="popup-table-header">Via Device:</div>
                                            </div>

                                            {{ if .IsRouteDefault }}
                                                <div class="float-child">
                                                    <span class="btn btn-xs btn-group-xs     bg-olive btn1000">0.0.0.0</span>
                                                </div>
                                                <div class="float-child">
                                                    <span class="btn btn-xs btn-group-xs bg-olive btn1000">VPN Server</span>
                                                </div>
                                            {{ end }}

                                            {{range $val := $connectedRoutes}}
                                                    <div class="float-child">
                                                        <span class="btn btn-xs btn-group-xs bg-olive btn1000">{{ $val.RouteIP }}</span>
                                                    </div>
                                                    <div class="float-child">
                                                        <span class="btn btn-xs btn-group-xs bg-olive btn1000">{{ $val.RouterName }}</span>
                                                    </div>
                                            {{end}}
                                        </div>

                                        <div class="float-container">
                                            <div><b>&nbsp;<br>Not selected:</b></div>
                                            <div class="float-child bg-lightblue" style="text-align: center">
                                                <div class="popup-table-header">To IP:</div>
                                            </div>
                                            <div class="float-child bg-lightblue" style="text-align: center">
                                                <div class="popup-table-header">Via Device:</div>
                                            </div>

                                            {{range  $val := $disConnectedRoutes}}
                                                <div class="float-child">
                                                    <span class="btn btn-xs btn-group-xs bg-gray-light btn1000">{{ $val.RouteIP }}</span>
                                                </div>
                                                <div class="float-child">
                                                    <span class="btn btn-xs btn-group-xs bg-gray-light btn1000">{{ $val.RouterName }}</span>
                                                </div>
                                            {{end}}
                                        </div>
                        </div>

                        <div class="modal-footer">
                            <!-- Copy button -->
                            <button class="btn btn-sm bg-gradient-lightblue btn80" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

            {{end}}
            </tbody>
          </table>
        </div>
       </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>

<!-- </div> -->

<script type="text/javascript">
  var actionURL="/clients/save_client_data" 
</script>

<script type="text/javascript">
  options = {html:true, trigger:'focus'};
  $('[data-toggle="popover"]').popover(options);
</script>

<!-- Add an empty modal container -->
<div id="modal-edit-client-details"></div>
<div id="modal-edit-client-raw"></div>
<div id="modal-auth-client"></div>

{{end}}

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>

<script type="text/javascript">
  var actionURL="/certificates/save_client_data" 
  
  $(function () {
        $('[data-mask]').inputmask();

        $('[data-mask-text]').inputmask({
          mask: "*",
          greedy: false,
          repeat: 35,
          definitions: {
            '*': {
              validator: "[0-9A-Za-z_-]",
            }
          }
        });
  });


  $(document).ready(function () {
      $('#form-create-client').validate({ // initialize the plugin
        rules: {
            client_name: {
                required: true,
            },
            cert_pass: {
                required: false,
            },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
  });
});
</script>

<script>
  $(document).ready(function() {
      togglePasswordVisibility("show_hide_password");
      togglePasswordVisibility("show_hide_user_password");
  });
</script>