{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Client Settings</title>
{{end}}

{{define "body"}}

{{template "common/alert.html" .}}

<div class="card card-primary">
  <!-- <div class="card-header with-border">
    <h3 class="card-title">Server Configuration</h3>
  </div> ->>

  <!-- /.card-header -->
  <!-- form start -->
  <form id="form_upd_client" autocomplete="off" action="{{urlfor "ClientConfigController.Post"}}" method="post">
    <div class="card-body">

      <div class="form-group" >
        <label for="ClientTemplate">client-template.txt</label>
        <textarea type="text" class="form-control my-textarea" name="ClientTemplate" id="ClientTemplate"
          id="ClientTemplate" spellcheck="false" rows="15">{{ .ClientTemplate }}</textarea>
        <span id="helpBlock" class="help-block font90">This is a user config template file. It was generated according to server setting.
          The backup file of previous version will be saved before new will be applied.<br>
            <div class="bg-gray-light font90">
              &nbsp;To autologin using systemd linux do the next on host system:<br>
              &nbsp;&nbsp;- replace in .ovpn config to "auth-user-pass pass"<br>
              &nbsp;&nbsp;- create file "pass" near the .ovpn config on file system<br>
              &nbsp;&nbsp;- file "pass" has next structure:<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;username<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;password
            </div>
        </span>
      </div>

       {{ .xsrfdata }}

    </div>

    <div class="card-footer">
       <button type="submit" class="btn bg-gradient-lightblue btn80" id="upd_client"
       data-title="Update template for clients?">Save</button>
    </div>
        <!-- /.card-body -->
   </form>

</div>
<!-- /.card -->

{{end}}

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>

<script>
  editTheme = ""
  if (localStorage.getItem('theme') != null ) {
    editTheme = "_midnight"
  };
  createEditor("ClientTemplate", "500px", "clouds" + editTheme, "space", false)
  //customConfirmPopUpByIdForm('upd_client','form_upd_client');

</script>



