{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Clients</title>
{{end}}

{{define "body"}}

<!-- /.card-header -->
{{template "common/alert.html" .}}

<!-- NEW CLIENT -->
<div class="col-xs-12">
  <div class="card card-outline card-blue">
    <!-- card-header -->
    <div class="card-header with-border table-responsive">
      <table>
        <tr>
          <td class="col-md-1 text-left"><button class="btn btn-sm bg-gradient-navy btn150" data-toggle="collapse" href="#newClient" role="button"  aria-expanded="false"
                  aria-controls="newClient" style="margin-left: 0.5%;">Add New Client</button>
                  {{template "common/fvalid.html" field_error_message .validation "Name" }}</td>
          <td class="col-md-10 text-right font90 sb"><i>ClName StaticIP IsRouterDef IsRouter Description</i></td>
          <td class="col-md-1 text-right">
            <a href="{{urlfor "ClientsController.UpdateFiles"}}" class="btn btn-warning btn-sm btn-group-sm bg-gradient-yellow btn150"
            data-title="Update ALL Clients?" title="Apply Clients Configuration" style="margin-right: 23px;">Apply Configurations</a>
          </td>
          <td class="col-md-1 text-right">
            <a href="{{urlfor "ClientsController.Restart"}}" class="btn btn-danger btn-sm btn-group-sm bg-gradient-red btn150" data-title="Restart OpenVPN container?" 
                  title="Restart OpenVPN container" style="margin-right: 23px;">Restart Server</a>
          </td>
        </tr>
      </table>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <div id="newClient" class="collapse">
      <form id="form-to-confirm" role="form" action="{{urlfor "ClientsController.NewClient"}}" method="post">
        <div class="card-body">
    
            <div class="form-row">
    
              <div class="form-group col-md-4">
                <label for="client_name">Client Name*</label>
                <input type="text" class="form-control" placeholder="Set route name" id="client_name" 
                  name="client_name" data-inputmask="'mask': '*' ,'repeat': 35, 'greedy' : false" 
                  data-mask required onfocusout="this.value = this.value.trim()">
                <span class="help-block font75">The unique Client Name</span>
              </div>
              
               <div class="form-group col-md-4">        
                  <label for="static_ip">Static IP</label>
                  <input class="form-control" name="static_ip" id="static_ip"
                                  data-inputmask="'alias': 'ip'" data-mask 
                                  pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" 
                                      placeholder="Enter Static IP" onfocusout="this.value = this.value.trim()">
                  <span class="help-block font75">Inernal VPN network Static IP</span>
                </div>
    
                <div class="col-md-4">
                  <div class="form-check" style="margin-top: 25px;">
                    <input name="use_def_routing" id="use_def_routing" class="form-check-input" type="checkbox" value="true" 
                        {{if .OvpnWizardData.DisableDefRouteForClientsByDefault}} checked {{else}} {{end}}>
                    <label class="form-check-label" for="use_def_routing">
                      Client uses VPN as Default Route
                    </label>
                  </div>
  
                  <div class="form-check">
                    <input name="client_is_router" id="client_is_router" class="form-check-input" type="checkbox" value="true" 
                        {{if .OvpnWizardData.ClientToClientConfigIsUsed}} checked {{else}} {{end}}>
                    <label class="form-check-label" for="client_is_router">
                      Client is Router with internal subnets
                    </label>
                  </div>
                </div>

                <div class="form-group col-md-8">
                      <label for="description">Description</label>
                      <input type="text" class="form-control" placeholder="Add description" id="description" 
                        name="description" onfocusout="this.value = this.value.trim()">
                      <span class="help-block font75">Describe the route details</span>
                </div>
    
                <div class="form-group col-md-4">
                    <label for="cert_pass">Passphrase</label>
                    <div class="input-group" id="show_hide_password">
                      <input type="password" class="form-control" placeholder="Passphrase" id="cert_pass" 
                        name="cert_pass" data-inputmask="'mask': '*' ,'repeat': 35, 'greedy' : false" 
                        data-mask required onfocusout="this.value = this.value.trim()">
                      <span class="input-group-btn">
                        <button class="btn btn-default reveal" type="button">
                          <i class="fa fa-eye-slash"></i></button>
                      </span>
                    </div>
                    <span class="help-block font75">Passphrase for the certificate</span>
                </div>
            </div>

        </div>
        <!-- /.card-body -->
    
        <div class="card-footer">
          <button type="submit" class="btn btn-sm bg-gradient-lightblue btn80 form-to-confirm" 
            style="margin-right: 23px; float: right;" data-title="Create new client?" id="create_client">Create</button>
        </div>
      </form>
    </div>
    <!-- form end -->
  </div>
</div>
<!-- END NEW CLIENT -->

<!-- <div class="row"> -->
  <div class="col-xs-12">
    <div class="card card-lightblue">
      <div class="card-header with-border">
        <h3 class="card-title">Clients details</h3>
      </div>

      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table-sm table-bordered table-striped m-0">
            <thead>
            <tr class="font90 textcenter">
              <th class="first-sm" style="width:10%">Client Name</th>
              <th style="width:2%">Cert</th>
              <th style="width:2%">DefR</th>
              <th style="width:5%">Static IP</th>
              <th style="width:2%">IsRouter</th>
              <th style="width:23%">Description</th>
              <th style="width:65%">Route List</th>
              <th class="last-sm" style="width:3%">File</th>
            </tr>
            </thead>
            <tbody>


            {{range $c := .Clients}}
                <!-- <tr data-widget="expandable-table" aria-expanded="false"> -->
                <tr>

                  <!-- 1 sell -->
                  <td class="my-centered first-sm">
                      {{ $col := "btn-sm btn-group-sm btn-block bg-lightblue" }} 
                      {{ $comment := .ClientName }}
                      {{ $icon := "fa fa-edit" }}
                      {{ if not .MD5Sum }} 
                          {{ $col = "btn-danger btn-sm btn-group-sm btn-block bg-red" }} 
                          {{ $comment = "Config was changed but not applied !" }}
                          {{ $icon = "fa fa-warning" }} 
                      {{ end }}
                       <button id="openModalEditClientRaw" data-target="#editClientModalRaw" data-client-name="{{ .ClientName }}" 
                        class="btn {{ $col }} right-icon-holder font75" 
                        title="{{ $comment }}">{{ .ClientName }}<i class="{ $icon }"></i>
                      </button>
                  </td>

                  <td class="my-centered first-cap">
                    {{ if .CertificateName }}
                      <span class="btn btn-xs btn-group-xs bg-olive btn40">OK</span>
                    {{else}}
                      <span class="btn btn-xs bg-red btn-group-xs btn40">false</span>
                    {{end}}
                  </td>

                  <!-- 2 sell -->
                  <td class="my-centered first-cap">
                    {{ if .IsRouteDefault }}
                      <span class="btn btn-xs btn-group-xs bg-olive btn40">{{ .IsRouteDefault }}</span>
                    {{else}}
                      <span class="btn btn-xs bg-gray-light btn-group-xs btn40">{{ .IsRouteDefault }}</span>
                    {{end}}
                  </td>

                  <!-- 3 sell -->
                  <td class="my-centered">
                      {{  if .StaticIP }}
                        {{  if eq (printf .StaticIP) "" }}
                          <span class="btn btn-xs btn-group-xs bg-gray-light btn100">random</span>
                        {{else}}
                          <span class="btn btn-xs btn-group-xs bg-olive btn100">{{.StaticIP}}</span>
                        {{end}}
                      {{else}}
                        <span class="btn btn-xs btn-group-xs bg-gray-light btn100">random</span>
                      {{end}}
                  </td>


                  <!-- 5 sell -->
                  <td class="my-centered">
                    {{ if .IsRouter }}
                      <span class="btn btn-xs btn-group-xs bg-purple btn40">True</span>
                      <!-- <span class="btn btn-xs bg-purple btn80">.RouterMask</span> -->
                    {{else}}
                      <span class="btn btn-xs btn-group-xs bg-gray-light btn40">-</span>
                    {{end}}
                  </td>

                  <!-- 6 sell -->
                  <td class="first-cap font75">
                    <div class=" sb">{{ .Description }}</div>
                  </td>


                  <!-- 7 sell -->
                  <td>
                      {{$connectedRoutes := GetConnectedRoutes $c.Id}}
                      {{$disConnectedRoutes := GetDisConnectedRoutes $c.Id}}
                      
                      <div  class="btn-group" role="group">
                        <div class="my-centered" style="margin-right: 5px;">
                          <button 
                            type="button" class="btn btn-xs bg-lightblue bnt24" 
                            data-toggle="popover" data-html="true" data-placement="bottom"
                            title="Routes for <b>{{ .ClientName }}</b>:"  
                            data-content="
                                      <div class='card card-outline card-olive'>
                                        <div class='card-body'>
                                          {{range  $val := $connectedRoutes}}
                                            <div class='btn btn-xs bg-olive bnt40'>{{ $val.RouterName}}_{{ $val.RouteIP }}</div>
                                          {{end}}
                                          {{range  $val := $disConnectedRoutes}}
                                            <div class='btn btn-xs bg-gray-light bnt40'>{{ $val.RouterName }}_{{ $val.RouteIP }}</div>
                                          {{end}}
                                        </div>
                                      </div>
                              "><i class="fa-solid fa-shuffle"></i>
                          </button>
                        </div>



                        <div class="sb">
                            {{range $val := $connectedRoutes}}
                              <span class="btn btn-xs btn-group-xs bg-olive bnt24">{{ $val.RouterName }}_{{ $val.RouteIP }}</span>
                            {{end}}
                            {{range  $val := $disConnectedRoutes}}
                              <span class="btn btn-xs btn-group-xs bg-gray-light bnt24">{{ $val.RouterName }}_{{ $val.RouteIP }}</span>
                            {{end}}
                        </div>
                      
                      </div>
                  </td>

                  <!-- 8 sell -->
                  <td class="textcenter my-centered last-sm">
                    <div class="btn-group" role="group">
                        <button  id="openModalEditClientDetails" data-target="#editClientDetailsModal" data-client-name="{{ .Id }}"
                        class="btn btn-sm btn-group-sm bg-gradient-lightblue btn80 font75" title="Edit">Edit</button>
                        
                        <a id="delete_client" data-client-name="{{ .Id }}" class="btn btn-sm btn-group-sm bg-red-gradient btn40"
                         title="Delete">Delete</a>
                    </div>
                  </td>
                </tr>

            {{end}}
            </tbody>
          </table>
        </div>
       </div>
        <!-- /.table-responsive -->
      </div>
      <!--else
          Fix your configuration
      end-->

     <!--
      <div class="card-footer clearfix">
        
      </div>
      -->

      <!--
      <div class="card-footer clearfix">
        <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
      </div>
    -->
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>

<!-- </div> -->

<script type="text/javascript">
  var actionURL="/clients/save_client_data" 
</script>

<script type="text/javascript">
  options = {html:true, trigger:'focus'};
  $('[data-toggle="popover"]').popover(options);
</script>

<!-- Add an empty modal container -->
<div id="modal-edit-client-details"></div>
<div id="modal-edit-client-raw"></div>

{{end}}

<!-- <div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div> -->

<script type="text/javascript">
  var actionURL="/certificates/save_client_data" 
  
  $(function () {
        $('[data-mask]').inputmask();
  });


  $(document).ready(function () {
      $('#form-to-confirm').validate({ // initialize the plugin
        rules: {
            client_name: {
                required: true,
            },
            cert_pass: {
                required: false,
            },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
  });
});
</script>

<script>
  $(document).ready(function() {
      $("#show_hide_password button").on('click', function(event) {
          event.preventDefault();
          if($('#show_hide_password input').attr("type") == "text"){
              $('#show_hide_password input').attr('type', 'password');
              $('#show_hide_password i').addClass( "fa-eye-slash" );
              $('#show_hide_password i').removeClass( "fa-eye" );
          }else if($('#show_hide_password input').attr("type") == "password"){
              $('#show_hide_password input').attr('type', 'text');
              $('#show_hide_password i').removeClass( "fa-eye-slash" );
              $('#show_hide_password i').addClass( "fa-eye" );
          }
      });
  });
  </script>