{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - EasyRSA</title>
{{end}}

{{define "body"}}

{{template "common/alert.html" .}}

<div class="card card-primary">
  <!-- <div class="card-header with-border">
    <h3 class="card-title">Server Configuration</h3>
  </div> ->>
  <!-- /.card-header -->
  <!-- form start -->
  <form id="form-to-confirm" role="form" action="{{urlfor "EasyRSAConfigController.Post"}}" method="post">
    <div class="card-body">

      <div class="form-group">
        <label for="name">easy-rsa/vars</label>
        <textarea type="text" class="form-control my-textarea" name="EasyRSAVars" 
          id="EasyRSAVars"  spellcheck="false" rows="15">{{ .EasyRSAenv }}</textarea>
        <span id="helpBlock" class="help-block font90">This is actual EasyRSA env vars. Please change it if you know what you do. 
          The beckup file of previous version will be saved before new one will be applied.
        </span>
      </div>

       {{ .xsrfdata }}
      </div>
     <div class="card-footer">
       <button type="submit" class="btn bg-gradient-lightblue btn80"
       data-title="Update server settings?">Save</button>
     </div>
        <!-- /.card-body -->
   </form>

</div>
<!-- /.card -->
{{end}}

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>

<script>
    editTheme = ""
    if (localStorage.getItem('theme') != null ) {
      editTheme = "_midnight"
    };
    createEditor("EasyRSAVars", "500px", "clouds" + editTheme, "space", false)
</script>



