{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN</title>
<meta http-equiv="refresh" content="60">
{{end}}

{{define "body"}}

{{$prefixURL := .PrefixURL}}

{{ if not .IsVPNSetup }}
<div class="row">
  <div class="col-md-12 col-sm-18 col-xs-36">
    <div class="info-box" style="min-height: 50px;">
    <a href="{{urlfor "WizardController.Step1Get"}}"  
      class="col-md-12 btn btn-md btn-group-xs bg-gradient-red">
        OpenVPN needs to be setup. Click to run wizard !</a>
      </div>
  </div>
</div>
{{end}}

<div class="row">

  <div class="col-lg-3 col-6">
    <div class="small-box bg-gradient-lightblue font90">
      <div class="inner">
        <span class="font-sd-2">Traffic In/Out:</span>
        <h5 class="info-box-content ellipsis font-sd-1">
          {{ printmb .ovstats.BytesIn }} / {{ printmb .ovstats.BytesOut }} MB </h5>
      </div>
      <div class="icon2" >
        <i class="fa-solid fa-satellite-dish"></i>
      </div>
      <span  class="small-box-footer font-sd-1">Clients count: {{ .ovstats.NClients }}</span>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-gradient-lightblue font90">
      <div class="inner">
        <span class="font-sd-2"> Load Average:</span>
        <h5 class="info-box-content ellipsis font-sd-1">
            {{ .sysinfo.LoadAvg.One }}, {{ .sysinfo.LoadAvg.Five }}, {{ .sysinfo.LoadAvg.Fifteen }}
        </h5>
      </div>
      <div class="icon2" >
        <i class="fa-solid fa-chart-simple"></i>
      </div>
      <span  class="small-box-footer font-sd-1">CPU count: {{ .sysinfo.CPUList.List | len }}</span>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-gradient-lightblue font90 ">
      <div class="inner">
        <span class="font-sd-2">OS Uptime:</span>
        <h5 class="info-box-content ellipsis font-sd-1">
           {{ .sysinfo.UptimeS }}
        </h5>
      </div>
      <div class="icon2" >
        <i class="fa-regular fa-clock"></i>
      </div>
      <span  class="small-box-footer font-sd-1">{{ dateformat .sysinfo.CurrentTime "2006-01-02 15:04:05"}}</span>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-gradient-lightblue font90">
      <div class="inner" >
        <span class="font-sd-2">Version:</span>
        <h5 class="info-box-content ellipsis font-sd-1" style="width: 85% !important;">
           {{ .ovversion }}
        </h5>
      </div>
      <div class="icon2" >
        <i class="fa-solid fa-info"></i>
      </div>
      <span  class="small-box-footer font-sd-1">{{ .sysinfo.Os }} ({{ .sysinfo.Arch }})</span>
    </div>
  </div>

</div>
<!-- /.row -->

<div class="row">
  <div class="col-md-12">
    <div class="card card-default">
      <!-- <div class="card-body">-->
        <div class="float-container">
          <div class="float-child-no-border">
            <div class="col-md-12">
              <div class="progress-group ellipsis">
                <span class="progress-text">Memory</span>
                <span class="progress-number">
                  <b>{{ printmb .sysinfo.Memory.Used }}</b> / {{ printmb .sysinfo.Memory.Total }} MB - {{percent .sysinfo.Memory.Used .sysinfo.Memory.Total}}%
                </span>
                <div class="progress sm">
                  <div class="progress-bar bg-gradient-lightblue"
                    style="width: {{percent .sysinfo.Memory.Used .sysinfo.Memory.Total}}%"></div>
                </div>
              </div>
            </div>
          </div>
              <!-- /.col -->
          <div class="float-child-no-border">
            <div class="col-md-12">
              <div class="progress-group">
                <span class="progress-text">Swap</span>
                <span class="progress-number">
                  <b>{{ printmb .sysinfo.Swap.Used }}</b> / {{ printmb .sysinfo.Swap.Total }} MB - {{percent .sysinfo.Swap.Used .sysinfo.Swap.Total}}%
                </span>

                <div class="progress sm">
                  <div class="progress-bar bg-gradient-red"
                    style="width: {{percent .sysinfo.Swap.Used .sysinfo.Swap.Total}}%">
                  </div>
                </div>

              </div>
              </div>
            </div>
          <!-- /.col -->
          <div>
          <!-- float cont -->
      </div>
      <!-- /.card-body -->
      <!--    </div>-->
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>

<div class="row">
  <div class="col-md-12">
      <div class="card card-lightblue card-tabs">

        <div class="card-header with-border p-0 pt-0">
            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
              <li class="pt-2 px-3">
                <h3 class="card-title font-sd-1">Status:</h3>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home"
                   role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile"
                   role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Routes</a>
              </li>
            </ul>
        </div>
        <!-- /.card-header -->

        <div class="card-body">
            <!-- .tab-content -->
            <div class="tab-content" id="custom-tabs-one-tabContent">

              <!-- .tab1 -->
              <div class="tab-pane fade active show" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                <div class="card-body p-0">
                  {{if .ovstatus}}
                  <div class="table-responsive">
                    <table class="table-sm table-bordered table-striped m-0" id="connections" style="width:100%">
                      <thead>
                      <tr class="font75">
                        <th style="width:1%;text-align: center;" class="first-sm" ></th>
                        <th style="width:10%;text-align: center;">Common Name</th>
                        <th style="width:10%;text-align: center;">Real Address</th>
                        <th style="width:10%;text-align: center;">Virtual Address</th>
                        <th style="width:10%;text-align: center;">KB Received</th>
                        <th style="width:10%;text-align: center;">KB Sent</th>
                        <th style="width:10%;text-align: center;">Connected Since</th>
                        <th style="width:10%;text-align: center;">Username</th>
                        <th style="width:3%;text-align: center;">Drop</th>
                      </tr>
                      </thead>
                      <tbody>

                      {{range .ovstatus.ClientList}}
                      <tr>
                        <td class="my-centered"></td>
                        <td class="my-centered"><span class="btn btn-xs btn-group-xs bg-lightblue btn120">{{.CommonName}}</span></td>
                        <td class="my-centered"><span class="badge bg-gray-light btn150">{{.RealAddress}}</span></td>
                        <td class="my-centered">
                          <span class="badge bg-olive btn100">{{.VirtualAddress}}</span>
                        </td>
                        <td class="my-centered">
                          <span class="badge bg-gray-light btn100">{{printkb .BytesReceived}}</span>
                        </td>
                        <td class="my-centered">
                          <span class="badge bg-gray-light btn100">{{printkb .BytesSent}}</span>
                        </td>
                        <td class="my-centered"><span class="badge bg-gray-light btn120">{{.ConnectedSince}}</span></td>
                        <td class="my-centered"><span class="badge bg-gray-light btn120">
                            {{if eq .Username "UNDEF"}}
                              -
                            {{else}}
                              {{.Username}}
                            {{end}}
                          </span></td>
                        <td class="textcenter">
                          <a href="javascript:$.MyAPP.Disconnect('{{.CommonName}}','{{$prefixURL}}')"
                             data-title="Disconect {{.CommonName}} client ?"
                             class="btn btn-xs btn-group-xs btn-danger bg-red-gradient btn24"
                             title="Disconnect">X</a>
                        </td>
                      </tr>
                      {{end}}

                      </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                {{else}}
                  <a href="{{urlfor "SystemController.Get"}}" class="col-md-12 btn btn-md btn-group-xs bg-gradient-red">Fix your configuration or restart OpenVPN</a>
                {{end}}
                </div>
              </div>
              <!-- /.tab1 -->

              <!-- .tab2 -->
              <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                <div class="card-body p-0">
                  {{if .ovstatus}}
                  <div class="table-responsive">
                    <table class="table-sm table-bordered table-striped m-0" id="routes" style="width:100%">
                      <thead>
                      <tr class="font75">
                        <th style="width:1%;text-align: center;" class="first-sm"></th>
                        <th style="width:10%;text-align: center;" class="textcenter">Route to</th>
                        <th style="width:10%;text-align: center;">Using client</th>
                        <th style="width:10%; text-align: center;">Real client address</th>
                        <th style="width:10%;text-align: center;">Connected since</th>
                        <th style="width:3%;text-align: center;">Drop</th>
                      </tr>
                      </thead>
                      <tbody>

                      {{range .ovstatus.RoutingTable}}
                      <tr>
                        <td class="my-centered"></td>
                        <td class="my-centered"><span class="badge bg-purple btn100">{{.VirtualAddress}}</span></td>
                        <td class="my-centered"><span class="btn btn-xs btn-group-xs bg-lightblue btn120">{{.CommonName}}</span></td>

                        <td class="my-centered"><span class="badge bg-gray-light btn150">{{.RealAddress}}</span></td>
                        <td class="my-centered"><span class="badge bg-gray-light btn120">{{.LastRef}}</span></td>
                        <td class="textcenter">
                          <a href="javascript:$.MyAPP.Disconnect('{{.CommonName}}','{{$prefixURL}}')"
                             data-title="Disconect {{.CommonName}} client ?"
                             class="btn btn-xs btn-group-xs btn-danger bg-red-gradient btn24"
                             title="Disconnect">X</a>
                        </td>
                      </tr>
                      {{end}}

                      </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                  {{else}}
                    <a href="{{urlfor "SystemController.Get"}}" class="col-md-12 btn btn-md btn-group-xs bg-gradient-red">Fix your configuration or restart OpenVPN</a>
                  {{end}}
                </div>
              </div>
              <!-- /.tab2 -->

            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.card-body -->

      </div>
    <!-- /.card -->

  </div>
</div>
<!-- /.row -->


<div class="row">



  <!-- fix for small devices only -->
  <div class="clearfix visible-sm-block"></div>
  <!-- /.col -->
</div>
<!-- /.row -->

{{end}}

    <script type="text/javascript">
      $(document).ready(function () {

        // Initialize DataTable for connections table
        var t1 = new DataTable('#connections', {
          lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, "All"],
          ],
          paging: true,
          responsive: {
            details: {
              renderer: DataTable.Responsive.renderer.listHiddenNodes(),
            }
          },
          order: [[ 1, 'asc' ]],
          columnDefs: [
            { targets: [1, 2, 3, 7], searchable: true },
            { targets: '_all', type: 'html', searchable: false },
            { targets: [0,8], orderable: false },
            { responsivePriority: 1, targets: 0 },
            { responsivePriority: 2, targets: 1 },
            { responsivePriority: 4, targets: 3 },
            { responsivePriority: 3, targets: 8 }
          ],
          language: {
            "emptyTable": "No data available in table",
            "lengthMenu": "_MENU_ items on a page",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "Showing 0 to 0 of 0 entries",
            "search": "",
            "paginate": {
              "first": "<<",
              "last": ">>",
              "next": ">",
              "previous": "<"
            },
          },
          layout: {
            topEnd: 'info',
            topStart: {
              search: {
                placeholder: 'Type search here'
              }
            },
            bottomStart: 'pageLength',
            bottomEnd: {
              paging: {
                numbers: 3
              }
            }
          }
        });

        // Initialize DataTable for routes table
        var t2 = new DataTable('#routes', {
          lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, "All"],
          ],
          paging: true,
          responsive: {
            details: {
              renderer: DataTable.Responsive.renderer.listHiddenNodes(),
            }
          },
          order: [[ 1, 'asc' ]],
          columnDefs: [
            { targets: [1, 2, 3], searchable: true },
            { targets: '_all', type: 'html', searchable: false },
            { targets: [0], orderable: false },
            { responsivePriority: 1, targets: 0 },
            { responsivePriority: 2, targets: 1 },
            { responsivePriority: 3, targets: 2 },
            { responsivePriority: 4, targets: 5 }
          ],
          language: {
            "emptyTable": "No data available in table",
            "lengthMenu": "_MENU_ items on a page",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "Showing 0 to 0 of 0 entries",
            "search": "",
            "paginate": {
              "first": "<<",
              "last": ">>",
              "next": ">",
              "previous": "<"
            },
          },
          layout: {
            topEnd: 'info',
            topStart: {
              search: {
                placeholder: 'Type search here'
              }
            },
            bottomStart: 'pageLength',
            bottomEnd: {
              paging: {
                numbers: 3
              }
            }
          }
        });

        function adjustColumnVisibility(table) {
          setTimeout(function() {
            var isResponsive = table.responsive.hasHidden();
            table.column(0).visible(isResponsive);
            table.columns.adjust().draw();
          }, 150);
        }


        function reloadTables(){
            adjustColumnVisibility(t1);
            adjustColumnVisibility(t2);
        }

        // Initial adjustment
        reloadTables();

        // Adjust visibility on window resize
        $(window).resize(function() {
          reloadTables();
        });

        // Adjust visibility on nav-link click, triggering twice
        $(document).on('click', '.nav-link', function(event) {
          reloadTables();
          reloadTables();
        });

        const cells = $(".ellipsis");

        cells.each(function() {
          $(this).on('mouseenter', function() {
            if(this.offsetWidth < this.scrollWidth) {
              $(this).attr('title', $(this).text());
            }
          });
        });

      });
    </script>
