{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Logs</title>
{{end}}

{{define "body"}}
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Last 500 lines of OpenVPN log</h3>
  </div>

  <form role="form">
    <div class="box-body">

      <div class="form-group" >
        <!-- <label for="Logs">Last 500 lines of OpenVPN log</label> -->
        <textarea type="text" class="form-control my-textarea" name="Logs" 
          id="Logs" spellcheck="false" rows="15">

    {{ range $i, $line := .logs }}{{$line}}
    {{ end }}

        </textarea>
      </div>

    </div>
    <!-- /.box-body -->
   </form>

</div>


<script>
    //createEditor("Logs", "750px", "clouds_midnight", "ovpn", true);
    createEditor("Logs", "750px", {{if eq .Settings.Theme "midnight"}}"clouds_midnight"{{else}}"clouds"{{end}}, "ovpn", true);

</script>

<!-- /.box -->
{{end}}

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>
