{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Logs</title>
{{end}}

{{define "body"}}
<div class="card card-lightblue">
  <div class="card-header with-border">
    <h3 class="card-title">Last 500 lines of OpenVPN log</h3>
  </div>

  <form role="form">
    <div class="card-body">

      <div class="form-group" >
        <!-- <label for="Logs">Last 500 lines of OpenVPN log</label> -->
        <textarea type="text" class="form-control my-textarea" name="Logs" 
          id="Logs" spellcheck="false" rows="15">

    {{ range $i, $line := .logs }}{{$line}}
    {{ end }}

        </textarea>
      </div>

    </div>
    <!-- /.card-body -->
   </form>
   <div id="openvpn-status" style="padding: 20px; text-align: center; font-size: 18px;"></div>

   <button onclick="startOpenVPN()">Start OpenVPN</button>
   <button onclick="stopOpenVPN()">Stop OpenVPN</button>
   
   <div id="start-stop-messages" style="padding: 20px; text-align: center; font-size: 16px;"></div>
   
</div>

<script>
  editTheme = ""
  if (localStorage.getItem('theme') != null ) {
    editTheme = "_midnight"
  };
  createEditor("Logs", "600px", "clouds" + editTheme, "space", false)
</script>


<!-- /.card -->
{{end}}

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>

<script>
  function updateStatus() {
      $.ajax({
          url: "/openvpn/status",
          type: "GET",
          success: function(response) {
              if (response.includes("running")) {
                  $("#openvpn-status").css("background-color", "green");
                  $("#openvpn-status").text("OVPN is Running");
              } else {
                  $("#openvpn-status").css("background-color", "red");
                  $("#openvpn-status").text("OVPN is STOPPED");
              }
          },
          error: function() {
              $("#openvpn-status").css("background-color", "red");
              $("#openvpn-status").text("Error checking OpenVPN status");
          }
      });
  }
  
  function startOpenVPN() {
      $.ajax({
          url: "/openvpn/start",
          type: "GET",
          success: function(response) {
              updateStatus();
              $("#start-stop-messages").css("color", "green");
              $("#start-stop-messages").text(response);
          },
          error: function(err) {
              $("#start-stop-messages").css("color", "red");
              $("#start-stop-messages").text("Error starting OpenVPN: " + err.responseText);
          }
      });
  }
  
  function stopOpenVPN() {
      $.ajax({
          url: "/openvpn/stop",
          type: "GET",
          success: function(response) {
              updateStatus();
              $("#start-stop-messages").css("color", "green");
              $("#start-stop-messages").text(response);
          },
          error: function(err) {
              $("#start-stop-messages").css("color", "red");
              $("#start-stop-messages").text("Error stopping OpenVPN: " + err.responseText);
          }
      });
  }
  
  // Update status every minute
  setInterval(updateStatus, 60000);
  
  // Initial update
  updateStatus();
  </script>