<!-- views/modal.tpl -->

<style> 
.form-group.mylables{
    margin-bottom: 5px;
}
</style>
{{$c := .Client}}

{{ if $c }}

    {{$MD5 := .MD5}}
    {{$routes := .RouterProvideRouts}}

    {{$connectedRoutes := GetConnectedRoutes $c.Id}}
    {{$disConnectedRoutes := GetDisConnectedRoutes $c.Id}}


    <div class="modal fade" id="editClientModalRaw" role="dialog">
        <div class="modal-dialog custom-modal-dialog"> <!-- Apply custom CSS style for the modal width -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit config for user<font face="Verdana" size="+1"><strong> {{$c.ClientName}} </strong></font></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group mylables">
                            {{ if not (GetBoolValueByKey $c.ClientName $MD5) }}
                                <span class="btn btn-xs btn-group-xs bg-red" style="min-width: 100%;">Currently configured but not applied:</span>
                            {{else}}
                                <span class="btn btn-xs btn-group-xs bg-olive" style="min-width: 100%;">Currently configured:</span>
                            {{end}}
                        </div>

                        <div class="form-group mylables">
                            <span class="badge bg-gray-light"><b>VPN route is default:</b></span>
                            <span class="badge bg-gray-light">{{$c.IsRouteDefault}}</span>
                            {{if $c.StaticIP }}
                                <span class="badge bg-gray-light"><b>StaticIP:</b></span>
                                <span class="badge bg-gray-light">{{$c.StaticIP}}</span>
                            {{end}}
                            <span class="badge bg-gray-light"><b>IsRouter:</b></span>
                            <span class="badge bg-gray-light">{{$c.IsRouter}}</span>
                            {{ range $r := $routes}}
                                <span class="badge bg-gray-light">{{$r.RouteIP}}/{{$r.RouteMask}}</span>
                            {{end}}
                        </div>
                        <div class="form-group mylables">
                            <span class="badge bg-gray-light"><b>Route list:</b></span>
                            {{range  $val := $c.Routes}}
                                <span class="badge bg-gray-light">{{$val.RouterName}}_{{$val.RouteIP}}</span>
                            {{end}}
                        </div>
                        <div class="form-group mylables">
                            <span class="badge bg-gray-light"><b>OTP enabled:</b></span>
                            {{if $c.OTPKey}}
                                <span class="badge bg-gray-light">Enabled</span>
                            {{else}}
                                <span class="badge bg-gray-light">Disabled</span>
                            {{end}}
                        </div>
                    </div>
                    <!-- // Action URL is passed by JS -->
                    <form id="editForm" autocomplete="off" action="" method="post">
                        <input type="hidden" name="client_name" value="{{$c.ClientName}}">
                        <div class="form-group">
                            <div class="form-group mylables">
                                <span class="btn btn-xs btn-group-xs bg-olive" style="min-width: 100%;">Actual client config:</span>
                            </div>
                            <!-- Apply custom CSS style for the textarea width -->
                            <textarea class="form-control custom-textarea my-textarea" rows="15" name="client_data" style="resize: vertical;">{{.ClientData}}</textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default btn80" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-sm bg-gradient-lightblue btn80 myspiner">Save</button>
                        </div>

                        {{ .xsrfdata }}

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay">
        <div class="cv-spinner">
          <span class="spinner"></span>
        </div>
    </div>
{{ else }}
    <div class="modal fade" id="editClientModalRaw" role="dialog">
        <div class="modal-dialog custom-modal-dialog"> <!-- Apply custom CSS style for the modal width -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Client is not found in Data Base</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="text-align: center">
                    Please remove this Certificate manually: Revoke -> RM.<br>
                    Please do not use Certificate generation directly in Docker by using scripts.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default btn80" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{{ end }}

<script type="text/javascript">
    $(document).ready(function() {
        document.getElementById("editForm").action = actionURL;

        editTheme = ""
        if (localStorage.getItem('theme') != null ) {
            editTheme = "_midnight"
        };
        createEditor("client_data", "300px", "clouds" + editTheme, "space", false)
    });
</script>
  
