<!-- views/modal.tpl -->

<!-- Initialize the plugin: -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#route_list_selected').multiselect({
            buttonWidth: '200px',
            maxHeight: 125,
            buttonClass: '',
            templates: {
                button: '<button type="button" class="multiselect dropdown-toggle form-control right-icon-holder" data-toggle="dropdown">\
                    <span class="multiselect-selected-text"></span><i class="fa fa-angle-down" aria-hidden="true"></i></button>',
                ul: '<div class="multiselect-container dropdown-menu form-control" style="width:200px;height:125px"></div>',
            },
            includeSelectAllOption: true,
            // inheritClass: true,
            selectedClass: "active multiselect-active-item-fallback",
        });

        var cb = $('#is_router').is(':checked');
        $('#router_subnet').prop('disabled', !cb);
        $('#router_mask').prop('disabled', !cb);

        $('#is_router').on('click',function() {
            var cb = $('#is_router').is(':checked');
            $('#router_subnet').prop('disabled', !cb);
            $('#router_mask').prop('disabled', !cb);
            if ( !cb ) {
                $('#router_subnet').val('');
                $('#router_mask').val('');
            };

        });

        options = {html:true, trigger:'hover'};
        $('[data-toggle="popover"]').popover(options);

    });
</script>
<style> 
.mychekbox-md{
    margin-top: 10px;
}

.popover-title{
    /* background: #ffff99; */
    color: black;
    font-weight: 800;
}

pre.mypre {
    padding: 1px;
    font-size: inherit;
    margin: 0 0 1px;
}

.popover-content{
    /* background: #ffff99; */
    color: rgb(30, 30, 30);
    font-weight: 100;
}
</style>

<div class="modal fade" id="editClientDetailsModal" role="dialog">
    <div class="modal-dialog custom-modal-dialog-form"> <!-- Apply custom CSS style for the modal width -->
        <div class="modal-content box box-primary">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit config for user<font color="#dd4b39" face="Verdana" size="+1"><strong> {{.ClientName}} </strong></font></h4>
            </div>
            <div class="modal-body">
                <!-- FORM START -->
                <form id="editForm" action="/clients/save_details_data" method="post">
                    
                    <!-- Hidden fields for proper form usage -->
                    <input type="hidden" name="client_name" id="client_name" value="{{.ClientName}}">
                    <input name="csrftoken" value="{{.CSRFToken}}" type="hidden">


                    <div class="panel-body">
                        <div class="form-row">
                            <div class="col-sm-4">
                                
                                <label class="form-check-label" for="static_ip">
                                    Static IP: &nbsp;    
                                </label>
                                <!-- <span>About static IP address.&nbsp;</span> -->
                                <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-html="true" data-placement="bottom"
                                    title=" It's a static client IP. Wor Windows clients use next pairs:"  data-content="
                                            <pre class='mypre'>[  1,  2] [  5,  6] [  9, 10]</pre>
                                            <pre class='mypre'>[ 13, 14] [ 17, 18] [ 21, 22]</pre>
                                            <pre class='mypre'>[ 25, 26] [ 29, 30] [ 33, 34]</pre> 
                                            <pre class='mypre'>[ 37, 38] [ 41, 42] [ 45, 46]</pre> 
                                            <pre class='mypre'>[ 49, 50] [ 53, 54] [ 57, 58]</pre>
                                            <pre class='mypre'>[ 61, 62] [ 65, 66] [ 69, 70]</pre>
                                            <pre class='mypre'>[ 73, 74] [ 77, 78] [ 81, 82]</pre> 
                                            <pre class='mypre'>[ 85, 86] [ 89, 90] [ 93, 94]</pre>
                                            <pre class='mypre'>[ 97, 98] [101,102] [105,106]</pre>
                                            <pre class='mypre'>[109,110] [113,114] [117,118]</pre>
                                            <pre class='mypre'>[121,122] [125,126] [129,130]</pre>
                                            <pre class='mypre'>[133,134] [137,138] [141,142]</pre>
                                            <pre class='mypre'>[145,146] [149,150] [153,154]</pre>
                                            <pre class='mypre'>[157,158] [161,162] [165,166]</pre>
                                            <pre class='mypre'>[169,170] [173,174] [177,178]</pre>
                                            <pre class='mypre'>[181,182] [185,186] [189,190]</pre>
                                            <pre class='mypre'>[193,194] [197,198] [201,202]</pre>
                                            <pre class='mypre'>[205,206] [209,210] [213,214]</pre>
                                            <pre class='mypre'>[217,218] [221,222] [225,226]</pre>
                                            <pre class='mypre'>[229,230] [233,234] [237,238]</pre>
                                            <pre class='mypre'>[241,242] [245,246] [249,250]</pre>
                                            <pre class='mypre'>[253,254]</pre>">
                                </span>

                
                                <input class="form-control" name="static_ip" value="{{.StaticIP}}" 
                                pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" 
                                    placeholder="Enter Static IP">

                                <div class="form-check mychekbox mychekbox-md">
                                    <input name="is_route_default" id="is_route_default" class="form-check-input" type="checkbox" value="true" 
                                        {{if .IsRouteDefault}} checked {{else}} {{end}}>
                                    <label class="form-check-label my-label" for="is_route_default">
                                        Use as default route &nbsp;
                                        <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="bottom" 
                                        data-content="Set if want to send all trafic via VPN network."></span>
                                    </label>
                                </div>

                                
                            </div>

                            
                            <div class="col-sm-4">
                                <div class="form-check mychekbox">
                                    <input name="is_router" id="is_router" class="form-check-input" type="checkbox" value="true" 
                                        {{if .IsRouter}} checked {{else}} {{end}}>
                                    <label class="form-check-label my-label" for="is_router">
                                        Device is router  &nbsp;
                                        <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="bottom" 
                                        data-content="Set if client is router with own internal subnet."></span>
                                    </label>
                                </div>
   
                                <!-- <label class="form-check-label" for="router_subnet">
                                    Subnet:  &nbsp;
                                    <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="bottom" 
                                    data-content="Specify Router internal Subnet and Mask"></span>
                                </label> -->
                                <input class="form-control" id="router_subnet" name="router_subnet" value="{{.RouterSubnet}}" 
                                pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" 
                                placeholder="Enter Subnet: x.x.x.x">

                                <!-- <label class="form-check-label" for="router_mask">Mask:</label> -->
                                <input class="form-control" id="router_mask" name="router_mask" value="{{.RouterMask}}" 
                                pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" 
                                placeholder="Enter Subnet Mask: x.x.x.x">
                            </div>


                            <div class="col-sm-4">
                                <label class="form-check-label" for="route_list_selected">
                                    Routes: &nbsp;
                                    <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="bottom" 
                                    data-content="Select devices you want to have access to their internal networks."></span>
                                </label>
                                <select class="form-control" name="route_list_selected" id="route_list_selected" multiple="multiple">
                                    {{range  $val := .RouteListSelected}}
                                        <option value="{{ $val }}" selected="selected">{{ $val }}</option>
                                    {{end}}
                                    {{range  $val := .RouteListUnselected}}
                                        <option value="{{ $val }}">{{ $val }}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>    
                    </div>

                    <div class="panel-body">
                        <div class="col-sm-8">
                                <label class="form-check-label" for="description">Description:</label>
                                <input class="form-control" id="description" name="description" 
                                placeholder="Add some important notes here" value="{{.Description}}">
                        </div>
                        <div class="col-sm-4"></div>

                    </div>
                       

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn80" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary bg-light-blue-gradient btn80 myspiner">Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>