<!-- views/modal.tpl -->

<style> 
.form-group.mylables{
    margin-bottom: 5px;
}
</style>
<script type="text/javascript">
    $(document).ready(function() {
        document.getElementById("editForm").action = actionURL;
    });

</script>

<div class="modal fade" id="editClientModalRaw" role="dialog">
    <div class="modal-dialog custom-modal-dialog"> <!-- Apply custom CSS style for the modal width -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit config for user<font face="Verdana" size="+1"><strong> {{.ClientName}} </strong></font></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group mylables">
                        {{if not .IsMD5Valid }}
                            <span class="btn btn-xs bg-red" style="min-width: 100%;">Currently configured but not applied:</span>
                        {{else}}
                            <span class="btn btn-xs bg-green" style="min-width: 100%;">Currently configured:</span>
                        {{end}}
                    </div>

                    <div class="form-group mylables">
                        <span class="btn btn-xs bg-gray"><b>VPN route is default:</b></span>
                        <span class="btn btn-xs bg-gray">{{.ClientJSON.IsRouteDefault}}</span>
                        {{if ne .ClientJSON.StaticIP ""}}
                            <span class="btn btn-xs bg-gray"><b>StaticIP:</b></span>
                            <span class="btn btn-xs bg-gray">{{.ClientJSON.StaticIP}}</span>
                        {{end}}
                        <span class="btn btn-xs bg-gray"><b>IsRouter:</b></span>
                        <span class="btn btn-xs bg-gray">{{.ClientJSON.IsRouter}}</span>
                        {{ if .ClientJSON.IsRouter}}
                            <span class="btn btn-xs bg-gray">{{.ClientJSON.RouterSubnet}}/{{.ClientJSON.RouterMask}}</span>
                        {{end}}
                    </div>
                    <div class="form-group mylables">
                        <span class="btn btn-xs bg-gray"><b>Route list:</b></span>
                        {{range  $val := .ClientJSON.RouteList}}
                            <span class="btn btn-xs bg-gray">{{$val}}</span>
                        {{end}}
                    </div>
                </div>
                <!-- // Action URL is passed by JS -->
                <form id="editForm" action="" method="post">
                    <input type="hidden" name="client_name" value="{{.ClientName}}">
                    <div class="form-group">
                        <div class="form-group mylables">
                            <span class="btn btn-xs bg-green" style="min-width: 100%;">Actual client config:</span>
                        </div>
                        <!-- Apply custom CSS style for the textarea width -->
                        <textarea class="form-control custom-textarea my-textarea" rows="15" name="client_data" style="resize: vertical;">{{.ClientData}}</textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default btn80" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-sm bg-gradient-lightblue btn80 myspiner">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>
<script>
   createEditor("client_data", "300px", {{if eq .Settings.Theme "midnight"}}"clouds_midnight"{{else}}"clouds"{{end}}, "space", false)
</script>

