<!-- views/modal.tpl -->

<div class="modal fade" id="editClientModal" role="dialog">
    <div class="modal-dialog custom-modal-dialog"> <!-- Apply custom CSS style for the modal width -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit config for user<font color="#dd4b39" face="Verdana" size="+1"><strong> {{.ClientName}} </strong></font></h4>
            </div>
            <div class="modal-body">
                <form id="editForm" action="/certificates/save_client_data" method="post">
                    <input type="hidden" name="client_name" value="{{.ClientName}}">
                    <div class="form-group">
                        <!-- Apply custom CSS style for the textarea width -->
                        <textarea class="form-control custom-textarea my-textarea" rows="15" name="client_data" style="resize: vertical;">{{.ClientData}}</textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn80" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary bg-light-blue-gradient btn80">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
   createEditor("client_data", "300px", "clouds_midnight", "space", false)
</script>

