{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Routes</title>
{{end}}

{{define "body"}}


<!-- /.card-header -->
{{template "common/alert.html" .}}

<div class="col-xs-12">
  <div class="card card-outline card-purple">
    <div class="card-header with-border table-responsive">
      <table>
        <tr>
          <td class="col-md-1 text-left"><button class="btn btn-sm bg-gradient-navy btn150" data-toggle="collapse" href="#newCert" role="button"  aria-expanded="false"
                  aria-controls="newCert" style="margin-left: 0.5%;">Add New Route</button>
                  {{template "common/fvalid.html" field_error_message .validation "Name" }}</td>
          <td class="col-md-10 text-right font90 sb">
            <i>Routes can be added for Router devices with generated certificate!</i>
          </td>
          <td class="col-md-1 text-right">
            <a href="{{urlfor "RoutesController.UpdateFiles"}}" class="btn btn-warning btn-sm btn-group-sm bg-gradient-yellow btn150"
            data-title="Update ALL Clients?" title="Apply Clients Configuration" style="margin-right: 23px;">Apply Configurations</a>
          </td>
          <td class="col-md-1 text-right">
            <a href="{{urlfor "LogsController.RestartLocalService"}}" class="btn btn-danger btn-sm btn-group-sm bg-gradient-red btn150" data-title="Restart OpenVPN server?"
                  title="Restart OpenVPN server" style="margin-right: 23px;">Restart Server</a>
          </td>
        </tr>
      </table>
    </div>
    <!-- /.card-header -->
    <!-- form start -->

    <div id="newCert" class="collapse">
    <form id="form-create-route" autocomplete="off" role="form" action="{{urlfor "RoutesController.NewRoute"}}" method="post">
      <div class="card-body">

          <div class="form-row">

              <div class="form-group col-md-4">
                <label for="router_name">Router Name*</label>
                <select class="custom-select" name="router_name" id="router_name">
                    <option value="" disabled selected value> -- select router -- </option>
                    {{range  $val := .Routers}}
                        <option value="{{ $val.Id }},{{$val.ClientName}}">{{ $val.ClientName }}</option>
                    {{end}}
                </select>
                <span class="help-block font75">The Router client</span>
              </div>

              <div class="form-group col-md-4">        
                <label for="route_ip">Route IP*</label>
                <input id="route_ip" class="form-control" name="route_ip" value="{{.RouteIP}}"
                                data-inputmask="'alias': 'ip'" data-mask 
                                pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" 
                                    placeholder="Enter Static IP" onfocusout="this.value = this.value.trim()">
                <span class="help-block font75">Router subnet IP (ex.192.168.10.0)</span>
              </div>

              <div class="form-group col-md-4">        
                <label for="route_mask">Route Mask*</label>
                <input id="route_mask" class="form-control" name="route_mask" value="{{.RouteMask}}"
                                data-inputmask="'alias': 'ip'" data-mask 
                                pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" 
                                    placeholder="Enter Static IP" onfocusout="this.value = this.value.trim()">
                <span class="help-block font75">Router subnet Mask (ex.255.255.255.0)</span>
              </div>

              <div class="form-group col-md-12">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" placeholder="Add description" id="description" 
                      name="description" onfocusout="this.value = this.value.trim()">
                    <span class="help-block font75">Describe the route details</span>
              </div>

          </div>

      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-sm bg-gradient-lightblue btn80" 
          style="margin-right: 23px; float: right;" data-title="Create new route?" id="create_route">Create</button>
      </div>
      {{ .xsrfdata }}
    </form>
  </div>
  </div>
</div>


<!-- <div class="row"> -->
  <div class="col-xs-12">
    <div class="card card-purple">
      <div class="card-header with-border">
        <h3 class="card-title">Routes details</h3>
      </div>

      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table-sm table-bordered table-striped m-0">
            <thead>
            <tr class="font90 textcenter">
              <th class="first-sm" style="width:10%">Status</th>
<!--              <th style="width:15%">Route ID</th>-->
              <th style="width:15%">Router Name</th>
              <th style="width:10%">Route IP</th>
              <th style="width:10%">Route Mask</th>
              <th style="width:55%">Description</th>
              <th class="last-sm" style="width:5%">Edit</th>
            </tr>
            </thead>
            <tbody>
            
            {{range $r := .Routes}}
                <!-- <tr data-widget="expandable-table" aria-expanded="false"> -->
                <tr>

                  <!-- 2 sell -->
                  <td> 
                    {{$isUsedBy := RouteIsUsedBy $r.Id}}
                        {{ if not $r.RouterName }}
                          <span class="badge bg-red btn80">NO ROUTER</span>
                        {{else if $isUsedBy}}
                          <span class="badge bg-gray btn80" data-toggle="tooltip"
                          title="Used by:{{range $isUsedBy}} {{.}} {{end}}">USED</span>
                        {{else}}
                          <span class="badge bg-gray-light btn80">NOT USED</span>
                        {{end}}
                  </td>

                  <!-- 2 sell -->
                  <td  class="font90">
                    {{ .RouterName }}
                  </td>



                  <!-- 3 sell -->
                  <td class="my-centered">
                    <span class="badge bg-gray-light btn100">{{ .RouteIP }}</span>
                  </td>


                  <!-- 5 sell -->
                  <td class="my-centered">
                    <span class="badge bg-gray-light btn100">{{ .RouteMask }}</span>
                  </td>

                  <!-- 6 sell -->
                  <td class="first-cap font75">
                    <div class="sb">{{ .Description }}</div>
                  </td>


                  <!-- 7 sell -->
                  <td class="textcenter my-centered last-sm">
                    <div class="btn-group" role="group">
                        <button  id="getRouteEditModal" data-target="#getRouteEditModal" data-route-id="{{ $r.Id }}"
                        class="btn btn-sm btn-group-sm bg-gradient-lightblue btn80 font75" title="Edit">Edit</button>
                        <!-- <button id="openModalEditClientRaw" data-target="#editClientModalRaw" data-client-name="{{ .Name }}" 
                        class="btn btn-sm btn-group-sm bg-gradient-red btn80" title="Delete">Delete</button> -->
                    </div>
                  </td>

                </tr>
                <!-- <tr class="expandable-body d-none">
                  <td colspan="6">

                </td>
                </tr> -->

            {{end}}
            </tbody>
          </table>
        </div>
       </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>

<!-- Add an empty modal container -->
<div id="modal-edit-route-details"></div>

{{end}}

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        options = {html:true, trigger:'focus'};
        $('[data-toggle="popover"]').popover(options);


        $('[data-mask]').inputmask();


        function makeid(length) {
            let result = '';
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            const charactersLength = characters.length;
            let counter = 0;
            while (counter < length) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
                counter += 1;
            }
            return result;
        };

        $('select#router_name').on('change',function(){
            var route_id = $(this).children('option:selected').text();
            $('#route_id').val(route_id + "_" + makeid(5));
        });

        $('.submit').click(function(){
            validateForm();
        });


        $('#form-create-route').validate({ // initialize the plugin
            rules: {
                router_name: {
                    required: true,
                },
                route_ip: {
                    required: true,
                },
                route_mask: {
                    required: true,
                }
            },
            messages: {
                router_name: {
                    required: "Please select the Router",
                    email: "Please enter a vaild email address"
                },
                route_ip: "Please set IP route",
                route_mask: "Please set IP Mask route",
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });


        $("button#getRouteEditModal").on("click", function () {
            var routeID = $(this).data("route-id");
            showModalWithData(
                "/routes/get",
                {"route-id": routeID},
                "#modal-edit-route-details",
                "#showEditRouteModal"
            );
        });

    });
</script>