{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Settings</title>
{{end}}

{{define "body"}}

{{template "common/alert.html" .}}

<div class="card card-primary">
  <!-- <div class="card-header with-border">
    <h3 class="card-title">Server Configuration</h3>
  </div> ->>
  <!-- /.card-header -->
  <!-- form start -->
  <form id="form-to-confirm" role="form" action="{{urlfor "OVConfigController.Post"}}" method="post">
    <div class="card-body">

      <div class="form-group">
        <label for="name">server.conf</label>
        <textarea type="text" class="form-control my-textarea" name="ServerConfig" 
          id="ServerConfig"  spellcheck="false" rows="15">{{ .ServerConfig }}</textarea>
        <span id="helpBlock" class="help-block">This is actual server config file. You can add/delete/modify any parameter. 
          The beckup file of previous version will be saved before new aon be applied.
        </span>
      </div>

       {{ .xsrfdata }}
      </div>
     <div class="card-footer">
       <button type="submit" class="btn btn-primary bg-light-blue-gradient btn80"
       data-title="Update server settings?">Save</button>
     </div>
        <!-- /.card-body -->
   </form>

</div>
<!-- /.card -->
{{end}}

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>

<script>
    createEditor("ServerConfig", "600px", {{if eq .Settings.Theme "midnight"}}"clouds_midnight"{{else}}"clouds"{{end}}, "space", false)
</script>



