{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Settings</title>
{{end}}

{{define "body"}}
<div class="box box-primary">
  <!-- <div class="box-header with-border">
    <h3 class="box-title">Server Configuration</h3>
  </div> ->>
  <!-- /.box-header -->
  <!-- form start -->
  {{template "common/alert.html" .}}
  <form role="form" action="{{urlfor "OVConfigController.Post"}}" method="post">
    <div class="box-body">

      <div class="form-group">
        <label for="name">server.conf</label>
        <textarea type="text" class="form-control my-textarea" name="ServerConfig" 
          id="ServerConfig"  spellcheck="false" rows="15">{{ .ServerConfig }}</textarea>
        <span id="helpBlock" class="help-block">This is actual server config file. You can add/delete/modify any parameter. 
          The beckup file of previous version will be saved before new aon be applied.
        </span>
      </div>

       {{ .xsrfdata }}
      </div>
     <div class="box-footer">
       <button type="submit" class="btn btn-primary bg-light-blue-gradient btn80">Save</button>
     </div>
        <!-- /.box-body -->
   </form>

</div>
<!-- /.box -->
{{end}}

<script>
    createEditor("ServerConfig", "600px", "clouds_midnight", "space", false)
</script>



