{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - App Settings</title>
{{end}}

{{define "body"}}
{{template "common/alert.html" .}}
<div class="card card-lightblue">
  <div class="card-header with-border">
    <h3 class="card-title">Edit settings</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->

  <form id="form-settings" role="form" method="post">
    <div class="card-body">
      <div class="form-group">
        <label for="Profile">Profile</label>
        <input type="text" class="form-control" id="Profile" disabled
          value=" {{ .Settings.Profile }} ">
      </div>

      <div class="form-group">
        <label for="MIAddress">Management interface address</label>
        <input type="text" class="form-control" id="MIAddress" name="MIAddress" placeholder="Enter address"
          value="{{ .Settings.MIAddress }}"  onfocusout="this.value = this.value.trim()">
      </div>

      <div class="form-group">
        <label for="MINetwork">Management interface network</label>
        <input type="text" class="form-control" id="MINetwork" name="MINetwork" placeholder="Enter network name" disabled hidden
          value="{{ .Settings.MINetwork }}">
      </div>

      <div class="form-group">
        <label for="ServerName">Server Name</label>
        <input type="text" class="form-control" id="ServerName" name="ServerName" placeholder="Enter server Name"
          value="{{ .Settings.ServerName }}">
      </div>

      <div class="form-group">
        <label for="name">ConfigPath</label>
        <input id="name" type="text" class="form-control" id="OVConfigPath" name="OVConfigPath" placeholder="Enter config path"
          value="{{ .Settings.OVConfigPath }}"  onfocusout="this.value = this.value.trim()" disabled>
      </div>

      {{ .xsrfdata }}
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn bg-gradient-lightblue" id="save_settings"
              data-title="Update system settings?" >Save and apply</button>
    </div>
  </form>

</div>
<!-- /.card -->
{{end}}

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>

<script>
  customConfirmPopUpByIdForm('save_settings','form-settings',"Are you sure? This has huge impact.");
</script>