{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - App Settings</title>
{{end}}

{{define "body"}}
{{template "common/alert.html" .}}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Edit settings</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->

  <form id="form-to-confirm" role="form" method="post">
    <div class="box-body">
      <div class="form-group">
        <label for="Profile">Profile</label>
        <input type="text" class="form-control" id="Profile" disabled
          value=" {{ .Settings.Profile }} ">
      </div>

      <div class="form-group">
        <label for="MIAddress">Management interface address</label>
        <input type="text" class="form-control" id="MIAddress" name="MIAddress" placeholder="Enter address"
          value="{{ .Settings.MIAddress }}"  onfocusout="this.value = this.value.trim()">
      </div>

      <div class="form-group">
        <label for="MINetwork">Management interface network</label>
        <input type="text" class="form-control" id="MINetwork" name="MINetwork" placeholder="Enter network name" disabled
          value="{{ .Settings.MINetwork }}">
      </div>

      <div class="form-group">
        <label for="Theme">Theme</label>
        <select class="form-control" id="Theme" name="Theme">
            <option value="blue" {{if eq .Settings.Theme "blue"}}selected{{end}}>Blue</option>
            <option value="midnight" {{if eq .Settings.Theme "midnight"}}selected{{end}}>Midnight</option>
            <option value="black" {{if eq .Settings.Theme "black"}}selected{{end}}>Black</option>
        </select>
      </div>

      <div class="form-group">
        <label for="ServerName">Server Name</label>
        <input type="text" class="form-control" id="ServerName" name="ServerName" placeholder="Enter server Name"
          value="{{ .Settings.ServerName }}">
      </div>

      <div class="form-group">
        <label for="name">ConfigPath</label>
        <input type="text" class="form-control" id="OVConfigPath" name="OVConfigPath" placeholder="Enter config path"
          value="{{ .Settings.OVConfigPath }}"  onfocusout="this.value = this.value.trim()">
      </div>

      {{ .xsrfdata }}
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-primary bg-light-blue-gradient form-to-confirm" data-title="Update system settings?" >Save and apply</button>
    </div>
  </form>

</div>
<!-- /.box -->
{{end}}

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>