{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - System utils</title>
{{end}}

{{define "body"}}

{{template "common/alert.html" .}}

<div class="card card-danger">
  <div class="card-header with-border">
    <h3 class="card-title">Restart OpenVPN</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <span id="helpBlock" class="help-block font90">If you are revoking Certificate, don't forget to restart your OpenVPN container to disconnect all active client sessions and make revocation to take the effect.<br/></span>
  </div>
  <div class="card-footer">
    <a href="{{urlfor "SystemController.RestartLocalService"}}" class="btn btn-danger bg-gradient-red btn100" 
    data-title="Restart OpenVPN server?" title="Restart OpenVPN server">Restart</a> &nbsp; &nbsp; Restart can take up to the 7 seconds.
  </div>
  <div class="card-footer clearfix">
  </div>
  <!-- /.card-footer -->
</div>

<div class="card card-lightblue">
  <div class="card-header with-border">
    <h3 class="card-title">Backup conig files</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <span id="helpBlock" class="help-block font90">Some helfull text abou Backup itself ;)<br/></span>
  </div>
  <div class="card-footer">
    <a href="{{urlfor "SystemController.Backup"}}" class="btn bg-gradient-lightblue btn100" 
    data-title="Download Binary File?" title="Download Binary File">Download</a> &nbsp; &nbsp; Backup will take up to the 10 seconds.
  </div>
  <div class="card-footer clearfix">
  </div>
  <!-- /.card-footer -->
</div>

<div class="card card-lightblue">
  <div class="card-header with-border">
    <h3 class="card-title">Start OpenVPN configuration</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <span id="helpBlock" class="help-block font90">Wizard can be run only one time. Start only for the initial OpenVPN setup.<br/></span>
  </div>
  <div class="card-footer">
    <a href="{{urlfor "WizardController.Step1Get"}}" class="btn bg-gradient-lightblue btn100" 
    data-title="Start Setup Wizard?" title="Start Setup Wizard">Wizard</a> &nbsp; &nbsp; If you don't know what to select, just leave default values.
  </div>
  <div class="card-footer clearfix">
  </div>
  <!-- /.card-footer -->
</div>

{{end}}

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>