.info-box-number2{
  font-weight:bold;
  margin-top: 0px !important;
  margin-left: 5px;
}

.info-box-text2{
  display:block;
  font-size:18px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}

.info-box-number3{
  font-weight:bold;
  font-size:11px;
  overflow: visible;
  word-wrap: break-word;
  white-space: initial;
  display: block;
}

.my-textarea {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #F6F4EB;
  font-size: 12px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;
}

/* Custom CSS for the popup window */
.popupinfo {
 display: none;
 position: absolute;
 top: 50%; /* Center the popup vertically */
 left: 50%; /* Center the popup horizontally */
 transform: translate(-50%, -50%); /* Center the popup both vertically and horizontally */
 max-width: 350px; /* Limit the popup width */
 max-height: 300px; /* Set the maximum height for the popup */

}

.popupinfo .bodypop {
 position: absolute;
 height: 100%;
 font-size: 14px;
 text-align: left; /* Align the text to the left */
 padding: 8px;
 border-radius: 4px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Style for parameter names */
.popupinfo .param-name {
 font-weight: bold;
}


/* Style for close button */
.popupinfo .close-btn {
 position: absolute;
 top: 0px;
 right: 0px;
 font-size: 32px;
 width: 42px;
 height: 42px;
 padding: 0px;
 text-align: center;
 cursor: pointer;
 border-radius: 50%; /* Make it round */
}

.popupinfo .copy-btn {
 margin-top: 8px;
 cursor: pointer;
 position: absolute;
 bottom: 10px; /* Set desired distance from the bottom of the popup */
 right: 8px; /* Set desired distance from the right side of the popup */
}

/* Apply custom CSS style for the modal width and textarea width */
.modal {
 position: fixed;
 width: 100%;
 height: 100%;
}

.custom-modal-dialog {
  position: relative;
  width: 700px; 
  max-width: 100%;
  height: 90%;
  background-color: transparent;
 }
 
 .custom-modal-dialog-form .label {
  font-size: 95%;
  padding: 0.2em 0.2em 0.3em;
 }

 .custom-modal-dialog-form label.my-label{
  margin: 0px 8px 3px;
 }

.custom-modal-dialog-form {
 position: relative;
 width: 700px; 
 max-width: 100%;
 height: 90%;
 background-color: transparent;
}

.btn24 {
 min-width: 24px;
}

.btn40 {
  min-width: 40px;
 }

.btn80 {
 min-width: 80px;
}

.btn120 {
 min-width: 120px;
}

.btn100 {
 min-width: 100px;
}

.btn150 {
 min-width: 150px;
}

.textcenter {
 text-align: center;
}

.but-center {
 display: block !important;
 margin: auto !important;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

#overlay{	
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}

.left-icon-holder {
  position:relative;
  margin-left: 30px;
}
.left-icon-holder .fa {
  position:absolute;
  line-height: 24px;
  top:50%;
  margin-top: -12px; /* Half of line height to keep left middle postion of container */
  left: 10px;
}

.right-icon-holder {
  position:relative;
  margin-right: 30px;
}
.right-icon-holder .fa {
  position:absolute;
  line-height: 24px;
  top:50%;
  margin-top: -12px; /* Half of line height to keep left middle postion of container */
  right: 10px;
}

td.my-centered{
  text-align: center !important;
  vertical-align: middle !important;
}

td.first-cap{
  text-transform: capitalize;
}

td.txt-smaller{
  font-size: smaller !important;
}

.btn-xxs {
  padding: 0.2rem 0.2rem;
  font-size: .65rem;
  line-height: 1.0;
  border-radius: 0.15rem;
}

.btn-xs {
  margin-top: 2px !important;
}

.font75 {
  font-size: 75% !important;
}

.font90 {
  font-size: 90% !important;
}

.table-sm td, .table-sm th {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

td.first-sm, th.first-sm {
  padding-left: 0.75rem !important;
}

td.last-sm, th.last-sm {
  padding-right: 0.75rem !important;
}

td.b span:not(:nth-child(-n + 5)) {
  display: none;
}

.sb {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
}

.sbb {
  overflow: hidden;
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 30px;
  line-height: 28px;
}

.popover-header {
  color: black !important;
}

.dark-mode .card-lightblue:not(.card-outline)>.card-header {
  background-color: #3f6791 !important;
  color: #fff !important;
}

.dark-mode .bg-gradient-lightblue {
  background: #3f6791 linear-gradient(180deg,#5c7ea2,#3f6791) repeat-x!important;
  color: #fff;
}


input#switch-input {
  display:none;
}
label.switch-label{
  border:2px solid white;
  border-radius:25px;
  cursor:pointer;
  background-color: #343a40;
  min-width: 60px;
  margin-top: -5px;
}
.fa-sun{
  color:orange;
  font-size:24px;
  text-shadow:0px 0px 15px orange;
  transform:translateX(25px);
  transition:.3s;
}
.fa-moon{
  color:white;
  font-size:25px;
  text-shadow:0px 0px 15px white;
  transform:translateX(0px);
  opacity:0;
  transition:.3s;
}
#switch-input:checked ~ label > .fa-sun{
  opacity:0;
  transform:translateX(0px);
}
#switch-input:checked ~ label > .fa-moon{
  opacity:1;
  transform:translateX(-15px);
}

.user-image {
  background-color: white;
}

.multiselect-container>li>a>label {
  padding: 2px 15px 2px 15px;
}

.tool-tip {
  display: inline-block;
}

.tool-tip [disabled] {
  pointer-events: none;
}