.info-box-number2{
  font-weight:bold;
  font-size:18px;
}

.info-box-text2{
  display:block;
  font-size:18px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}

.info-box-number3{
  font-weight:bold;
  font-size:11px;
  overflow: visible;
  word-wrap: break-word;
  white-space: initial;
  display: block;
}

.my-textarea {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #F6F4EB;
  font-size: 12px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;
}