    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="icon" type="image/png" sizes="32x32" href="{{.PrefixURL}}/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{.PrefixURL}}/static/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{.PrefixURL}}/static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{.PrefixURL}}/static/img/favicon/favicon-192x192.png">

    <link rel="stylesheet" href="{{.PrefixURL}}/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{.PrefixURL}}/static/css/select2.min.css">
    <link rel="stylesheet" href="{{.PrefixURL}}/static/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="{{.PrefixURL}}/static/css/jquery-confirm.min.css">
    <link rel="stylesheet" href="{{.PrefixURL}}/static/css/adminlte.min.css">
    <link rel="stylesheet" href="{{.PrefixURL}}/static/css/all.min.css">
    <link rel="stylesheet" href="{{.PrefixURL}}/static/css/custom.css">
    <link rel="stylesheet" href="{{.PrefixURL}}/static/css/datatables.min.css">

    <script src="{{.PrefixURL}}/static/js/jquery.min.js"></script>
    <script src="{{.PrefixURL}}/static/js/all.min.js"></script>
    <script src="{{.PrefixURL}}/static/js/jquery-confirm.min.js"></script>
    <script src="{{.PrefixURL}}/static/js/popper.min.js"></script>
    <script src="{{.PrefixURL}}/static/js/adminlte.min.js"></script>
    <script src="{{.PrefixURL}}/static/js/bootstrap-multiselect.min.js"></script>
    <script src="{{.PrefixURL}}/static/js/datatables.min.js"></script>
    <script src="{{.PrefixURL}}/static/js/jquery.inputmask.min.js"></script>
    <script src="{{.PrefixURL}}/static/js/jquery.validate.min.js"></script>
    <script src="{{.PrefixURL}}/static/js/select2.min.js"></script>
    <script src="{{.PrefixURL}}/static/js/additional-methods.min.js"></script>
    <script src="{{.PrefixURL}}/static/js/bootstrap.bundle.min.js"></script>
    <script src="{{.PrefixURL}}/static/js/custom.js"></script>
    <script src="{{.PrefixURL}}/static/ace/ace.js"></script>



    <script>
        $(document).ready(function() {
            // Update status every 20sec
            setInterval( function() {
                updateStatus({{urlfor "OpenVPNController.GetOpenVPNStatus"}});
            }, 20000);

            // Initial update
            updateStatus({{urlfor "OpenVPNController.GetOpenVPNStatus"}});
        });
    </script>
