<ul class="nav navbar-nav">

  <li {{if compare .RouterPattern "/"}}class="active"{{end}}>
    <a href="{{urlfor "MainController.Get"}}">Home <span class="sr-only">(current)</span></a>
  </li>


  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Configuration <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" role="menu">
      <li {{if compare .RouterPattern "/settings"}}class="active"{{end}}>
        <a href="{{urlfor "SettingsController.Get"}}">App Settings</a>
      </li>

      <li {{if compare .RouterPattern "/ov/system"}}class="active"{{end}}>
        <a href="{{urlfor "SystemController.Get"}}">System Utils</a>
      </li>

      <li {{if compare .RouterPattern "/ov/serverconfig"}}class="active"{{end}}>
        <a href="{{urlfor "ServerConfigController.Get"}}">Server Config</a>
      </li>

      <li {{if compare .RouterPattern "/ov/clientconfig"}}class="active"{{end}}>
        <a href="{{urlfor "ClientConfigController.Get"}}">Client Config</a>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Clients <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" role="menu">

      <li {{if compare .RouterPattern "/clients"}}class="active"{{end}}>
        <a href="{{urlfor "ClientsController.Get"}}">Details</a>
      </li>

      <li {{if compare .RouterPattern "/certificates"}}class="active"{{end}}>
        <a href="{{urlfor "CertificatesController.Get"}}">Certificates</a>
      </li>
    
    </ul>  
  </li>  

  <li {{if compare .RouterPattern "/logs"}}class="active"{{end}}>
    <a href="{{urlfor "LogsController.Get"}}">Logs</a>
  </li>
</ul>
