<!-- User Account Menu -->
<li class="dropdown user user-menu {{if compare .RouterPattern "/profile"}}active{{end}}">
  <!-- Menu Toggle Button -->
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
    <!-- The user image in the navbar-->
    <img src="{{urlfor "InitAPIRoutes.Get"}}/static/img/person.png" class="user-image" alt="User Image">
    <!-- hidden-xs hides the username on small devices so only the image appears. -->
    <span class="hidden-xs">{{ .Userinfo.Name}}</span>
  </a>
  <ul class="dropdown-menu">
    <!-- The user image in the menu -->
    <div class="card card-primary card-outline" style="margin-bottom: 0rem;">
      <div class="card-body box-profile">
      <div class="text-center">
        <img class="profile-user-img img-fluid img-circle" src="{{urlfor "InitAPIRoutes.Get"}}/static/img/person.png"
            alt="User profile picture" style="background-color: white;">
      </div>
      <h3 class="profile-username text-center">{{ .Userinfo.Name }}</h3>
      <p class="text-muted text-center">Created on {{ .Userinfo.Created.Format "Jan 02, 2006" }}</p>

      <div class="text-center">
        <a href="{{urlfor "ProfileController.Get"}}" class="btn btn100 bg-gradient-lightblue">Profile</a>
        <a href="{{urlfor "LoginController.Logout"}}" class="btn btn100 btn-warning">Sign out</a>
      </div>
    </div>
  </ul>
</li>
