<!DOCTYPE html>
<html>
	<head>
		{{template "common/header.html" .}}
		{{template "head" .}}
	</head>
  <body class="hold-transition layout-top-nav">
  <div class="wrapper">
      <nav class="main-header navbar navbar-expand-md navbar-dark navbar-light">
        <div class="container">
            <a href="{{urlfor "MainController.Get"}}" class="navbar-brand" style="color: white;">
              <img src="/static/img/openvpn.svg" alt="OpenVPN UI Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
              <span class="brand-text font-weight-light"><b>OpenVPN </b>{{ .SiteName }}</span>
            </a>
            <div id="openvpn-status" class="stopped" style="min-width: 20px; min-height: 20px;">      
            </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="navbar-collapse pull-left" id="navbarCollapse">
            {{ template "common/header-top-menu.html" . }}
          </div>
          <!-- /.navbar-collapse -->
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!--template "common/header-notifications.html" . -->
              {{ template "common/header-account-menu.html" . }}
            </ul>
          </div>
          <!-- /.navbar-custom-menu -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <div class="theme-switch-wrapper nav-link" class="switch-class">
                <input type="checkbox" id="switch-input">
                <label for="switch-input" class="switch-label">
                  <i class="fas fa-sun"></i><i class="fas fa-moon"></i>
                </label>
                <label class="custom-control-label" id="theme-label" hidden>Light</label>


                <!-- <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="checkbox">
                  <label class="custom-control-label" for="checkbox" id="theme-label"><i class="fa-solid fa-sun"></i>/<i class="fa-solid fa-moon"></i></label>
                </div> -->
              </div>
            </li>
          </ul>


        </div>
        <!-- /.container-fluid -->
      </nav>
    </header>
    <!-- Full Width Column -->
    <div class="content-wrapper">
      <div class="container">
        {{ template "common/header-top-navigation.html" . }}

      <!-- Main content -->
      <section class="content">
        {{ template "body" . }}
      </section>

	{{template "common/footer.html" .}}
	</body>
</html>

<script>
  // Get a reference to the checkbox element
  const checkbox = document.getElementById('switch-input');

  // Get a reference to the label element
  const themeLabel = document.getElementById('theme-label');


  // Get a reference to the body element
  const body = document.body;

  // Check localStorage for the user's theme preference
  const savedTheme = localStorage.getItem('theme');
  if (savedTheme === 'dark') {
    body.classList.add('dark-mode');
    checkbox.checked = true;
    themeLabel.textContent = 'Dark';

    // Replace classes for beauty
    var elems_light = document.querySelectorAll(".bg-gray-light");
    var elems_dark = document.querySelectorAll(".bg-gray");

    var elemCountLight = elems_light.length;
    for (var i = 0; i < elemCountLight; i++) {
      elems_light[i].classList.replace("bg-gray-light","bg-gray")
    }

    var elemCountDark = elems_dark.length;
    for (var i = 0; i < elemCountDark; i++) {
      elems_dark[i].classList.replace("bg-gray","bg-gray-light")
    }
  }

  // Add an event listener to the checkbox for changes
  checkbox.addEventListener('change', function () {
    // Toggle the "dark-mode" class on the body element
    body.classList.toggle('dark-mode', checkbox.checked);
    
		// Update the label text based on the checkbox state
		themeLabel.textContent = checkbox.checked ? 'Dark' : 'Light';

    // Save the user's preference in localStorage
    if (checkbox.checked) {
      localStorage.setItem('theme', 'dark');
      document.location.reload();
    } else {
      localStorage.removeItem('theme');
      document.location.reload();
    }
  });
</script>